/*
Name: Justin M. Rowe
Course: Advanced Visual Frameworks (AVF) 1211
Assignment: Project 3
Full Sail University
*/
      
body {
	background-image: url("../img/background.gif");
	background-repeat: repeat;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

p.name {
	font-family: Tahoma, Arial, sans-serif;
	color: rgb(239,66,35);
	font-size: 370%;
	margin: 0px;	
}

p.appName {
	font-family: Tahoma, Arial, sans-serif;
	color: rgb(136,140,120);
	font-size: 270%;
	margin: 0px;
}

p.course {
	font-family: Tahoma, Arial, sans-serif;
	color: rgb(153,127,96);
	font-size: 180%;
	margin: 0px;
	padding: 0px 0px 5px 0px;
}

a {
	margin: 5px;
}

h1 {
	color: rgb(239,66,35);
	margin: 0px;
}

h2 {
	color: rgb(239,66,35);
	text-decoration: underline;
}

.class {
	margin: 0px 0px 10px 0px;
}

#topbox {
	float: left;
	width: 42%;
	height: 475px;
	border: 3px solid rgb(109,88,73);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(208,207,171);
	color: rgb(46,104,120);
	padding: 5px 5px 5px 5px;
	margin: 5px 10px 5px 10px;
}

#middlebox {
	float: left;
	width: 42%;
	height: 475px;
	border: 3px solid rgb(109,88,73);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(208,207,171);
	color: rgb(46,104,120);
	padding: 5px 5px 5px 5px;
	margin: 5px 10px 5px 10px;
}

#bottombox {
	clear: left;
	float: left;
	width: 92%;
	height: 50%;
	border: 3px solid rgb(109,88,73);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(208,207,171);
	color: rgb(46,104,120);
	padding: 5px 5px 5px 5px;
	margin: 5px 10px 5px 10px;
}

#footerbox {
	clear: left;
	float: left;
	width: 92%;
	height: 120px;
	border: 3px solid rgb(109,88,73);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(208,207,171);
	color: rgb(46,104,120);
	padding: 5px 5px 5px 5px;
	margin: 5px 10px 5px 10px;
}

#twitterbox {
	width: auto;
	height: auto;
	border: 3px solid rgb(109,88,73);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(208,207,171);
	color: rgb(46,104,120);
	margin: 10px 10px 10px 10px;
	padding: 10px;
}

#tweetbox {
	text-align: left;
	width: auto;
	height: auto;
	padding: 10px;
	border: 3px solid rgb(109,88,73);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(255,236,169);
	color: rgb(46,104,120);
	margin: 0px 0px 10px 0px;
}

#vimeobox {
	width: auto;
	height: auto;
	border: 3px solid rgb(109,88,73);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(208,207,171);
	color: rgb(46,104,120);
	margin: 10px 10px 10px 10px;
	padding: 10px;
}

#videobox {
	text-align: left;
	width: auto;
	height: auto;
	padding: 10px;
	border: 3px solid rgb(109,88,73);
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(255,236,169);
	color: rgb(46,104,120);
	margin: 0px 0px 10px 0px;
}

.backbutton {
	position: relative;
	left: 150px;
	top: -50px;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.gray {
	color: #ffffff;
	font-size: 105%;
	border: solid 1px #595959;
	background: rgb(131,150,146);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(131,150,146)), to(#595959));
	background: -moz-linear-gradient(top,  rgb(131,150,146),  #595959);
}